@import "tailwindcss";

@theme {
  --color-background: #0f172a;
  --color-surface: #1e293b;
  --color-primary: #3b82f6;
  --color-accent: #8b5cf6;
  --color-textPrimary: #f8fafc;
  --color-textSecondary: #94a3b8;
}

@layer base {
  body {
    @apply bg-background text-textPrimary antialiased selection:bg-primary/30;
  }
}

@layer utilities {
  .glass {
    @apply bg-surface/70 backdrop-blur-md border border-white/10 shadow-xl;
  }
}
